

// ГЛОБАЛЬНЫЕ ТЕГИ
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: inherit;
    outline: none;
}

*::selection {
    background-color: rgba($color: $red, $alpha: 0.9);
    color: $white;
}

html,
body {
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        opacity: 0;
    }
}

body {
    font-family: $main-font-family;
    font-size: $main-font-size;
    color: $main-font;
    background-color: $main-bg;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.base-layout {
	padding-bottom: 50px;
}

.page-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media (min-width: $tablet) {
        padding: 0 20px;
    }

    @media (min-width: $desktop) {
        padding: 0 30px;
    }

    @media (min-width: $desktop-wide) {
        padding: 0;
    }
}

.main-block {
    padding-top: 120px;

    @media (min-width: $tablet) {
        padding-top: 160px;
    }

    @media (min-width: $tablet-landscape) {
        padding-top: 180px;
    }

    &__title {
        margin-bottom: 30px;
        
        @media (min-width: $tablet-landscape) {
            margin-bottom: 50px;
        }
    }

    &__back-link {
        display: block;
        margin-bottom: 50px !important;

        @media (min-width: $tablet) {
            // padding-left: 100px;
        }

        @media (min-width: $tablet-landscape) {
            
        }
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
    font-weight: 400;
}

h1,
.h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;

    @media (min-width: $tablet) {
        font-size: 40px;
        line-height: 50px;
    }

    @media (min-width: $desktop) {
        font-size: 60px;
        line-height: 70px;
    }
}

h2,
.h2 {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 36px;

    @media (min-width: $tablet) {
        font-size: 30px;
        line-height: 40px;
    }

    @media (min-width: $desktop) {
        font-size: 45px;
        line-height: 45px;
    }
}

h3,
.h3 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;

    @media (min-width: $tablet) {
        font-size: 28px;
        line-height: 38px;
    }

    @media (min-width: $desktop) {
        font-size: 30px;
        line-height: 30px;
    }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;

    @media (min-width: $tablet) {
        font-size: 20px;
        line-height: 30px;
    }

    @media (min-width: $desktop) {
        font-size: 22px;
        line-height: 22px;
    }
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
        font-size: 18px;
        // line-height: 30px;
    }

    @media (min-width: $desktop) {
        font-size: 20px;
        // line-height: 26px;
    }
}

a {
    text-decoration: none;
    letter-spacing: 1px;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul,
ol {
    & li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $tablet) {
            font-size: 18px;
            line-height: 24px;
        }

        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

blockquote {
    margin: 0;
    display: inline-block;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;

    &:before,
    &:after {
        content: '«';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
    
    &:after {
        content: '»';
        right: auto;
        left: auto;
        top: auto;
        bottom: 10px;
        margin-left: 10px;
    }


    @media (min-width: $tablet) {
        font-size: 20px;
        line-height: 26px;
    }

    @media (min-width: $desktop) {
        font-size: 24px;
        line-height: 32px;
    }
}

input,
textarea {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0;
    -webkit-padding-start: 0;
    overflow: hidden;
    font-family: Gerbera;
}

textarea {
    resize: none;
}

// ФОРМЫ
input::placeholder,
input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea[placeholder],
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.home {
    &.hide {
        &:before {
            opacity: 0;
        }
    }
}

.css {
    color: yellow;
}

.html {
    color: green;
}
.code {
    display: block;
    font-size: 16px;
    font-family: $main-font-family;
    letter-spacing: 1px;
    white-space: pre-wrap;
    line-height: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet-landscape) {
        font-size: 18px;
        line-height: 24px;
    }
}

.img-wrap {
    width: 100%;
    height: calc((100vw - 20px) * 0.5625);
    margin-bottom: 20px;
    
    @media (min-width: $tablet) {
        height: calc((100vw - 40px) * 0.5625);
    }

    @media (min-width: $desktop) {
        height: calc((100vw - 60px) * 0.5625);
    }

    @media (min-width: $desktop-wide) {
        height: calc(1400px * 0.5625);
    }

    // & img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

.w500 {
    @media (min-width: $tablet-landscape) {
        max-width: 500px !important;
    }
}

.w600 {
    @media (min-width: $tablet-landscape) {
        max-width: 600px !important;
    }
}

.content-link p {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.article-link,
.content-link a {
    display: inline-block;
    margin: 20px 0;
    color: orange;
    text-transform: uppercase;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 30px;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' fill='orange' enable-background='new 0 0 56.69 56.69' height='512' viewBox='0 0 56.69 56.69' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m48.483 31.239-10.999 10.996c-.847.85-1.977 1.319-3.181 1.319-1.202 0-2.332-.468-3.182-1.318s-1.318-1.979-1.318-3.182.469-2.332 1.318-3.182l3.027-3.027h-22.47c-2.481 0-4.5-2.019-4.5-4.5s2.019-4.5 4.5-4.5h22.469l-3.026-3.026c-.851-.85-1.318-1.98-1.318-3.182s.468-2.333 1.318-3.182c.849-.85 1.979-1.318 3.181-1.318s2.332.468 3.183 1.317l10.751 10.751c.249.256 1.18 1.273 1.277 2.883.103 1.719-.818 2.894-1.03 3.151zm-1.74-4.697-10.673-10.673c-.945-.943-2.593-.944-3.534 0-.474.473-.733 1.101-.733 1.769 0 .667.26 1.295.732 1.768l6.442 6.44h-27.299v-.001c-1.378 0-2.5 1.122-2.5 2.5 0 1.379 1.122 2.5 2.5 2.5h27.298l-6.441 6.441c-.473.473-.732 1.1-.732 1.768s.26 1.295.732 1.768c.947.946 2.595.943 3.534.001l10.772-10.773c.128-.131.683-.725.702-1.656.023-1.076-.689-1.75-.8-1.852z'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(10px) rotate(180deg);
        animation: moveArrow 1s infinite;
    }

    @keyframes moveArrow {
        0% {
            transform: translateX(10px) rotate(180deg);
        }
        50% {
            transform: translateX(20px) rotate(180deg);
        }
        100% {
            transform: translateX(10px) rotate(180deg);
        }
    }

    &:hover:after {
        animation: none;
    }
}

.content-block {
    & code {
        line-height: 24px;
    }
    
    & h1 {
        font-size: 24px;
        line-height: 30px;
    }

    & h2 {
        font-size: 20px;
        line-height: 24px;
    }

    & h3,
    & h4,
    & h5,
    & h6 {
        font-size: 18px;
        line-height: 20px;
    }

    & ul,
    & ol {
        @media (min-width: $tablet) {
            padding-left: 100px;
        }

        @media (min-width: $tablet-landscape) {
            padding-left: 200px;
            padding-right: 100px;
        }

        & li {
            position: relative;
            padding-left: 40px;

            &:before {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $white;
                top: 14px;
                left: 24px;
            }
        }
    }

    & p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;

        @media (min-width: $tablet) {
            font-size: 18px;
            padding-left: 100px;
        }

        @media (min-width: $tablet-landscape) {
            padding-left: 200px;
            padding-right: 100px;
        }

        @media (min-width: $desktop) {
            font-size: 20px;
        }
    }
}

.sharing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
	margin-top: 50px;

    @media (max-width: $tablet - 1) {
        flex-wrap: wrap;
    }

    @media (min-width: $tablet) {
        margin-top: 100px;
    }

    &__title {
        font-size: 16px;
        margin-right: 20px !important;

        @media (max-width: $tablet - 1) {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 0 !important;
            text-align: right;
        }
    }

    &__btn {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.error {
    &__wrap {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        text-align: center;
    }
}

.blog-title {
	@media (min-width: $tablet) {
		padding-left: 100px;
	}
	
	@media (min-width: $tablet-landscape) {
		padding-right: 100px;
		padding-left: 200px;
	}
}

.droptarget.highlighted {
	& .puzzle-part__target g {
		opacity: 0.5;
	}
}