// COLORS
$trs:                transparent;
$black:				 #1f1f1f;
$white:				 #ffffff;
$red:				 #780d0d;
$green:				 #109004;
$yellow:		     #eabc00;
$dark-white:         #f3f6ff;
$gray:         		 #474747;


$main-font-family:   'opensans', sans-serif;
$main-bg:			 #1f1f1f;
$main-font:			 #f3f6ff;
$main-font-size:	 16px;


$mobile:               0px;
$tablet:               768px;
$tablet-landscape:     1024px;
$desktop:              1280px;
$desktop-wide:         1440px;
$fullhd:               1920px;
$ultra:                2560px;